# floci/kumo/localstackに繋がせようとするのを無効化する
unset AWS_ENDPOINT_URL
unset AWS_BACKEND_URL
#export TF_LOG=DEBUG
export TF_VAR_management_bucket=${MANAGEMENT_BUCKET}
export TF_VAR_cloudflare_api_token=${CLOUDFLARE_API_TOKEN}
export TF_VAR_cloudflare_account_id=${CLOUDFLARE_ACCOUNT_ID}
export PAGER=""